/* ==CONTACT BUTTONS== */
.contact-page {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  margin: 0 10%;
  padding: 5% 0;
}
.contact-buttons {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  padding: 5%;
  margin: 5%;
  width: 20%;
  height: auto;
  border-radius: 5%;
  background-image: url(./assets/pw-background-4.jpg);
  background-size: cover;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.contact-buttons > p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 5%;
  margin: 5%;
  background-color: darkgray;
  border-radius: 10%;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.contact-buttons img {
  width: 50%;
}
.contact-buttons > p:hover {
  scale: 1.1;
}

/* ==CONTACT FORM== */
.contact-form-box {
  width: 90%;
}
.contact-form {
  width: 90%;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
input,
textarea {
  margin-bottom: 1%;
  padding: 0.5%;
  font-size: 11pt;
}
input#message {
  margin-bottom: 1%;
  padding: 0.5%;
  font-size: 11pt;
  height: 50%;
}
button {
  background-color: black;
  color: indianred;
  padding: 1.5% 0.75%;
  border: none;
  border-radius: 5%;
  opacity: 0.9;
  cursor: pointer;
}
