/* ==MAINPAGE== */

.homepage {
  display: flex;
  align-items: center;
  height: 66vh;
}
.homepage p {
  margin: 15% 5% 15% 15%;
  padding: 3%;
  font-size: 16pt;
  font-style: italic;
  color: gainsboro;
  border-top: 2px solid darkgray;
}
.homepage img {
  transform: translate(5, -5);
  border: 0.5em solid darkgray;
  border-radius: 50%;
  padding: 0;
  margin: 8%;
  transform: translate(0, 25%);
}

/* ==MEDIA QUERIES== */
@media (max-width: 479px) {
  .homepage {
    flex-direction: column;
    height: 50%;
    width: 80%;
    margin: 5% 0;
    padding: 5% 2.5%;
  }
  .homepage img {
    border: 0.5em solid darkgray;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    transform: translate(0, 25%);
    scale: 50%;
  }
}
