/* ==NAVIGATION== */

.top-ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 33vh;
}
.top-ribbon > div {
  display: flex;
  align-items: center;
}

.main-logo {
  height: auto;
  width: 10em;
  padding: 0 1em;
}
.nametag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.nametag > h3 {
  color: darkgray;
}
.nametag * {
  padding: 0;
  margin: 0;
}
h1 a {
  text-decoration: none;
  color: inherit;
  font-size: 2em;
}

.nav-bar {
  display: flex;
  list-style: none;
  padding: 0 10em;
}
.nav-bar li {
  padding: 1em 2em;
  font-size: 14pt;
}
.nav-bar li:hover {
  font-weight: 500;
  border-bottom: 3px solid indianred;
}

/* ==MAINPAGE== */

.homepage {
  display: flex;
  align-items: center;
  padding: 0, auto;
  margin: 0, auto;
  height: 66vh;
}
.homepage p {
  margin: 15% 5% 15% 15%;
  padding: 3%;
  font-size: 16pt;
  font-style: italic;
  color: teal;
  border-top: 2px solid darkgray;
}
.homepage img {
  transform: translate(5, -5);
  border: 0.5em solid darkgray;
  border-radius: 50%;
  padding: 0;
  margin: 3em;
  transform: translate(0, 25%);
}

/* ==FOOTER== */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  bottom: 0;
  padding: 0;
  height: 33vh;
  border-top: 0.5em solid darkgray;
  border-bottom: 0.5em solid darkgray;
}
.contact-icons {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
}
.contact-icons a {
  text-decoration: none;
  color: black;
  padding: 5em;
}
